<!--
html provides the structure
css style
javascript behavior -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    {% if msg %}
    <p>{{ msg }}</p>
    {% endif %}
    <div>
      <!-- this is the form section -->
      <form action="/login" method="post">
        <input
          name="username"
          type="text"
          placeholder="Username"
          required
          autofocus
        />
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
        />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
