<!--
html provides the structure
css style
javascript behavior -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      {% if msg %}
      <p>{{ msg }}</p>
      {% endif %}
      <!-- this is the form section -->

      <p>Create new username and password</p>
      <form action="/signup" method="post">
        <input
          name="username"
          type="text"
          placeholder="Username"
          required
          autofocus
        />
        <input name="password" type="text" placeholder="Password" required />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
